// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* Import custom plain CSS so Vite bundles our app.css rules */
@import '../css/app.css';
